<!DOCTYPE html>
<html lang="en">
   <head>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css">
      <link rel="stylesheet" href="./custom.css">

      <meta charset="utf-8">
      <title>Got Spoil</title>
   </head>
   <body>
   
      <div class="top-bar">
         <h4 class="text-left">Got Spoil</h4>
      </div>
      
      <div class="container" id="app">
         <div class="row column text-center">
            <h5>Saison {{ season }}</h5>
            <input type="range" min="1" max="8" value="1" v-model="season" class="slider" style="width:80%" id="myRange">
         </div>
         
         <div class="columns medium-4" v-for="(result, index) in results">
            <div class="card">
               <div class="card-divider">
                  <p v-bind:class="{ customline: result.deadInSeason}"> <b>{{ result.name }}</b> </p>
               </div>
               <div class="card-section">
                  <p>{{ result.causeOfDeath }}</p>
               </div>
            </div>
         </div>
         
         
      </div>
      <script src="https://unpkg.com/vue"></script>
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
      <script src="vueApp.js"></script>
   </body>
</html>